/* main */
main .bx-wrapper{
    border: 0;
    box-shadow: none;
}

.bx-wrapper .bx-pager{
    display: none;
}

.bx-wrapper .bx-pager .bx-pager-item {
    display: none;
}

.bx-wrapper .bx-next{

}

/* section 공지사항 */
.notice{}

.notice .notice-line{
/* 현재부모가 높이가 없어서 자식요소가 늘어나는만큼 높이를 가진다
.inner height 200px이니 notice-line이 자동으로 값이 200px이되면서
하위요소 height 100%로 다 200px으로 변경 */
position: relative;
top: -60px;
}

.notice .notice-line .bg-left{

    position: absolute;
    top: 0px;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white

}
.notice .notice-line .bg-right{

    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    height: 100%;
    background : linear-gradient(45deg, hotpink, plum) 

}

.notice .notice-line .inner{
    /* inner부분의 높이만 정리해주면 다른곳은 자동적으로 정리 */

    height: 62px;
    display: flex;
}

.notice .notice-line .inner__left{

    width: 60%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;

}

.notice .notice-line .inner__left h2{
font-size: 17px;
margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container{
flex-grow: 1; 
height: 62px;
overflow: hidden;
/* items의 기본값은 strech라서 높이값이없으면 최대로 늘어남 */

}

.notice .notice-line .inner__left .swiper-slide{

    height: 62px;
    display: flex;
    align-items: center;

}

.notice .notice-line .inner__left .swiper-slide a{
color: black;
}

.notice .notice-line .inner__left .notice-line__more{
width: 62px;
height: 62px;
/* 컨테이너에있는 아이템들 중앙정렬하는법 */
display: flex;
justify-content: center;
align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons{
color: black;
font-size: 30px;
}

.notice .notice-line .inner__right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding: 3px;
}

.notice .notice-line .inner__right h2{
    font-family: 'Armstrong', sans-serif;
    color: black;
    margin-right: 20px;
}


.notice .notice-line .inner__right p{
    font-family: 'Armstrong', sans-serif;
    color: black;

}

.notice .notice-line .inner__right p::before{
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.notice .notice-line .inner__right p a{
display: block;
padding: 20px;
color: black;
cursor: pointer;
}


/* section grid */

.wrapper{
 
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px 360px;
    column-gap: 20px;
	row-gap: 20px;
    margin-top: 40px;

}

/* wrapper 공통 */
.wrapper .text{

    position: absolute;
    top: 20px;
    left: 20px;

}

.wrapper .text h2 a{
    font-family: 'Armstrong',sans-serif;
    color: white;
    font-size: 20px;
}

.wrapper .text p{
    margin-top: 10px;
    margin-left: 2px;
}

.wrapper .career{
    grid-row: 1/3;
    position: relative;
    overflow: hidden;
}

.wrapper .career .cbg{
background: url(/YGHOME/career.jpg), no-repeat;
width: 360px;
height: 740px;
transition: 0.5s;
}

.wrapper .career:hover .cbg{
transform: scale(1.1);

}

.wrapper .yglife {
    grid-column: 2/4;
    overflow: hidden;
    position: relative;
}

.wrapper .yglife .lbg{
    background: url(/YGHOME/yglife.jpg), no-repeat;
    width: 740px;
    height: 360px;
    transition: 0.8s;
    }

.wrapper .yglife:hover .lbg{
    transform: scale(1.1);
}


.wrapper .producer {
    background-color: blue;
    position: relative;
    overflow: hidden;
}

.wrapper .producer .pbg{
    width: 360px;
    height: 360px;
    background: url("/YGHOME/produceraudition.jpg");
    transition: 0.8s;
}

.wrapper .producer:hover .pbg{
transform: scale(1.1);
}

.wrapper .audition{
    background-color: pink;
    position: relative;
    overflow: hidden;
}

.wrapper .audition .abg{
    width: 360px;
    height: 360px;
    transition: 0.8s;
    background: url("/YGHOME/yg-audition.jpg");
}

.wrapper .audition:hover .abg{
    transform: scale(1.1);
    }

.wrapper .ygselect{
    grid-column: 1/4;
    position:relative;
    overflow: hidden;

}

.wrapper .ygselect .sbg{
background:url("/YGHOME/event_detail.jpg");
width: 1120px;
height: 360px;
transition: 0.8s;
}

.wrapper .ygselect:hover .sbg{
    transform: scale(1.1);
}


/* section visual */
.visual {

    background-image: url("/YGHOME/starsbg.jpg");
}

.visual .arrowbeat img{
margin-left: 20px;
margin-top: 100px;
}

.visual .mvtext img{
margin-left: 20px;
margin-top: 50px;
margin-bottom: 80px;
}

/* section music */

.music{
    margin-top: 30px;
}

.music .musicslider{
    height: 580px;
    position: relative;
}

.music .musicslider .swiper-container{

    width: calc(800px * 3 + 40px);
    height: 530px;
    text-align: center;
    font-size: 12px;
    /* 화면 정가운데 배치하기
    position, musicslider 을 기준으로 왼쪽에서 50%에 컨테이너 배치
    marginleft의 -값을 컨테이너를 당겨온것
    */
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((800px * 3 + 40px)/-2);
}

.music .musicslider .swiper-slide {
    opacity: .2;
    transition: all .8s;

}

.music .musicslider .swiper-slide .mstext{
    opacity: 0;
    margin-top:18px;
    text-align: center;
    padding-left: 50px;
    /* transform: translateY(30%); */
}

.music .musicslider .swiper-slide-active .mstext{
/* transform: translateY(0%); */
opacity: 1;
}

.music .musicslider .swiper-slide .mstext h2{
    font-family: 'Armstrong';
    font-size: 20px;
    margin-bottom: 5px;
}

.music .musicslider .swiper-slide .mstext p{
    font-size: 15px;
}

.music .musicslider .swiper-slide-active{
opacity: 1;
transform: scale(1.06);
transition: all .8s;
}

.music .musicslider .swiper-pagination{
    padding-left: 20px;
    bottom: -20px;
}

.music .musicslider .swiper-pagination .swiper-pagination-bullet{
background-color: transparent;
background-image: url("/YGHOME/music_slide_pager.png");
width: 8px;
height: 8px;
margin-right: 6px;
outline: none;
}

.music .musicslider .swiper-pagination .swiper-pagination-bullet:last-child{
margin-right: 0px;
}

.music .musicslider .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url("/YGHOME/music_slide_pageron.jpg");
}

.music .musicslider .swiper-prev,
.music .musicslider .swiper-next{
    width: 42px;
    height: 42px;
border: 2px solid white;
border-radius: 50%;
position: absolute;
top: 300px;
z-index: 1;
cursor: pointer;
outline: none;
display: flex;
justify-content: center;
align-items: center;
transition: .4s;

}

.music .musicslider .swiper-prev{
    left: 150px;
}
.music .musicslider .swiper-next{
    right: 150px
}

.music .musicslider .swiper-prev:hover,
.music .musicslider .swiper-next:hover{
background-color: #333;
color: white;
}